@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.grid-layout{
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    grid-template-rows: 3.5% 17% 70% auto;
}

.encabezado{
    grid-column: 1/3;
}

.portada{
    grid-column: 1/3;
}

.cuerpo{
    grid-row: 3/4;
    grid-column: 1/2;
}

.barra-lateral{
    grid-column: 2/3;
}

.footer{
    grid-column: 1/3;
}

header{
    font-family: 'Poppins', sans-serif;
    top: 0;
    right: 0;
    z-index: 100;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 210px;
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: #373737;
    font-size: 14px;
}

.select{
    background: #359EF9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

/*COVER*/

.cover{
    width: 100%;
    font-family: 'Poppins', sans-serif;
   
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    background-image: url(../images/fondoportada.svg);
    background-size: cover;
    background-position: bottom;
}

.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    color: #373737;
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #FEBA0B;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #373737;
}

.cover input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18;
    font-weight: 600;
    border: none;
    color: white;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}

.container__vector{
    position: relative;
}

.container__vector img{
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 600px;
    animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector{
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    width: 100%;
    padding: 10px 0;
    background: #202020;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: -20px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img{
    margin-left: 100px;
    width: 150px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
}

.box__footer h2{
    margin-bottom: 30px;
    font-weight: 700;
    color: white;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}